.content {
	width: 100%;
	height: 86%;
}
.star1 {
	width: 20%;
	margin: 0 auto;
	text-align: left;
	line-height: 60px;
	font-size: 18px;
}
.star1>img,
.star3>img {
	float: left;
	width: 60px;
	height:60px;
}
.product {
	width: 85%;
	margin: 5px auto;
	height: 85%;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 4px 10px 0 rgba(0,0,0,.12);
	
}
.money {
	width: 150px;
	text-align: center;
	font-weight: bold;
	position:absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	background-color: #FF8800;
	color: white;
	text-transform: uppercase;
	padding: 15px;
}
.image {
	float:left;
	width: 49.8%;
	height: 100%;
	position: relative;
}
.image>img {
	width: 100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index: 0;
}
.buy {
	float: left;
	width: 50%;
	height: 100%;
}
.buy>ol {
	margin-left: 40px;
	margin-top: 20px;
}

.buy ol li {
	line-height: 18px;
}
.buy input[type="submit"] {
	padding: 10px 85px;
	background-color: #3198EF;
	color:white;
	margin: 10px auto;
	font-size: 16px;
	border: 0px;
}
.buy input[type="text"],.buy input[type="number"],.buy input[type="email"] {
	width: 100%;
    padding: 10px;
    font-size: 16px;
}

.buy input[type="text"],
.buy input[type="number"],
.buy input[type="email"] {
	width: 85%;
}

.first {
	text-align: center;
    margin-top: 20px;
}
.first input {
	color:white;
	background: #FF8800;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border:0;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 4px 10px 0 rgba(0,0,0,.12);
}

.buy label {
	font-weight: normal;
	margin-right: 10px;
}

.buy input[type="radio"] {
	margin-left: 5px;
	-webkit-transform: translate(0, 17%);
	transform: translate(0, 17%);
}

.content .buy input[type="submit"] {
	width: auto;
}

.star3 {
	width: 30%;
	margin: 0 auto;
	text-align: left;
	line-height: 60px;
	font-size: 18px;
}

.soluong {
	margin-top: 2%;
    padding-top: 35px;
}

.soluong label {
	margin-left: 20px;
}

.content .soluong input[type="number"],
.content .soluong input[type="submit"]{
	width: auto;
	padding: 10px 30px;
}
